@import url(http://fonts.googleapis.com/css?family=Rambla:400,700,400italic);
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.container{padding-left:20px;padding-right:20px;}
.row{width:100%;max-width:1140px;min-width:755px;margin:0 auto;overflow:hidden;}
.last{margin-right:0px;}
html,button,input,select,textarea,label,form{color:#222222;}
button,input,select,textarea,label,form{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
html,body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{color:#222222;font-weight:bold;font-family:"Rambla","Helvetica Neue",Helvetica,Arial,sans-serif;}
a{color:#0b7dba;text-decoration:none!important;}a:hover,a:active{color:#085d8a;}
a:visited{color:#38b2f3;}
body{font-size:1em;line-height:1.618033988749895em;}
h1{font-size:1.6666666666666667em;line-height:0.970820393249937em;margin-top:0;margin-bottom:0.970820393249937em;}
h2{font-size:1.5em;line-height:1.0786893258332633em;margin-top:0;margin-bottom:1.0786893258332633em;}
h3{font-size:1.3333333333333333em;line-height:1.2135254915624212em;margin-top:0;margin-bottom:1.2135254915624212em;}
h4{font-size:1.1666666666666667em;line-height:1.3868862760713385em;margin-top:0;margin-bottom:1.3868862760713385em;}
blockquote,h5,h6,iframe,label,p,pre,address,td,th,ul,ol,dl,dd,hr,table{font-size:1em;line-height:1.618033988749895em;margin-top:0;margin-bottom:1.618033988749895em;}
.small{font-size:0.8333333333333334em;line-height:1.941640786499874em;margin-top:0;margin-bottom:1.941640786499874em;}
::-moz-selection{background:#edd900;text-shadow:none;}
::selection{background:#edd900;text-shadow:none;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
img{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
html{background-color:#E8EBEF;}
body header.main{width:100%;max-width:1140px;min-width:755px;margin:0 auto;overflow:hidden;margin-top:19.41640786499874;}body header.main h1{margin-bottom:0.37339245894228346em;width:30.8%;margin-right:3.8%;float:left;min-height:1px;margin-left:17.299999999999997%;}body header.main h1 img{max-width:100%;height:auto;}
body div.main{width:100%;max-width:1140px;min-width:755px;margin:0 auto;overflow:hidden;}body div.main #form_container{width:65.4%;margin-right:3.8%;float:left;min-height:1px;margin-left:17.299999999999997%;background-color:white;background-color:rgba(255, 255, 255, 0.8);border-right:1px solid #BDC1C2;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);box-shadow:0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px 20px;margin-bottom:20px;margin-top:10px;}body div.main #form_container img{max-width:100%;height:auto;}
body div.main h2{text-align:center;}
body div.main form{margin-right:3.8%;float:left;min-height:1px;width:100%;margin-right:0px;}body div.main form img{max-width:100%;height:auto;}
body div.main form label{margin-right:3.8%;float:left;min-height:1px;width:74.05%;position:relative;background:transparent;box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);display:block;border-radius:10px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;height:60px;line-height:60px;overflow:hidden;}body div.main form label img{max-width:100%;height:auto;}
body div.main form label a{margin-right:3.8%;float:left;min-height:1px;width:30.8%;float:right;background:transparent;position:relative;display:inline-block;height:44px;margin-top:8px;margin-right:8px;line-height:44px;text-align:center;box-shadow:0px 0px 3px rgba(0, 0, 0, 0.5);border-radius:8px;background:#f4f4f4;background:-moz-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #f2f2f2));background:-webkit-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);background:-o-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);background:-ms-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);background:linear-gradient(to bottom, #f4f4f4 0%, #f2f2f2 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f2f2f2',GradientType=0 );color:#777;text-shadow:0 -1px 0px whiteSmoke;}body div.main form label a img{max-width:100%;height:auto;}
body div.main form label:hover{cursor:pointer;}body div.main form label:hover a{color:orange;}
body div.main form label span{color:#999;font-style:italic;margin-right:3.8%;float:left;min-height:1px;width:56.75%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding-left:10px;margin-right:0px;}body div.main form label span img{max-width:100%;height:auto;}
body div.main form label span.error{color:#ff6666;}
body div.main form input#upload{margin-right:0px;opacity:0;position:absolute;z-index:2;left:0;top:0;right:0;bottom:0;}
body div.main form input[type="submit"]{margin-right:3.8%;float:left;min-height:1px;width:22.150000000000002%;margin-right:0px;position:relative;display:inline-block;height:44px;margin-top:8px;line-height:44px;text-align:center;box-shadow:0px 0px 3px rgba(0, 0, 0, 0.5);border-radius:8px;background:white;border:none;background:#508ad2;background:-moz-linear-gradient(top, #508ad2 0%, #4081d1 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #508ad2), color-stop(100%, #4081d1));background:-webkit-linear-gradient(top, #508ad2 0%, #4081d1 100%);background:-o-linear-gradient(top, #508ad2 0%, #4081d1 100%);background:-ms-linear-gradient(top, #508ad2 0%, #4081d1 100%);background:linear-gradient(to bottom, #508ad2 0%, #4081d1 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#508ad2', endColorstr='#4081d1',GradientType=0 );color:white;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);}body div.main form input[type="submit"] img{max-width:100%;height:auto;}
body div.main form input[type="submit"]:active{box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.5);}
body div.main form input[type="submit"]:hover{text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);color:orange;}
body footer{width:100%;max-width:1140px;min-width:755px;margin:0 auto;overflow:hidden;}body footer a{width:30.8%;margin-right:3.8%;float:left;min-height:1px;margin-left:34.599999999999994%;}body footer a img{max-width:100%;height:auto;}
body footer a .brought,body footer a .logo,body footer a .support{display:block;font-size:0.8333333333333334em;}
body footer a .brought{margin-right:3.8%;float:left;min-height:1px;width:100%;text-align:center;color:#777;}body footer a .brought img{max-width:100%;height:auto;}
body footer a .logo{width:65.4%;margin-right:3.8%;float:left;min-height:1px;margin-left:17.299999999999997%;}body footer a .logo img{max-width:100%;height:auto;}
body footer a .logo img{text-align:center;}
body footer a .support{margin-right:3.8%;float:left;min-height:1px;width:100%;text-align:center;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding-left:0;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;margin-top:20px;font-size:1.1666666666666667em;}body footer a .support img{max-width:100%;height:auto;}
body footer a:hover .support,body footer a:active .support{padding-left:40px;font-style:italic;color:orange;}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:100%;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
